* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://topsuporte.com.br/wp-content/uploads/2016/09/fundocontador.jpg);
}

.heading {
    background-color: #183642;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    flex-flow: wrap;
}

.logo {
    color: #D9D9D9;
    margin-left: 100px;
    font-size: 50px;
}

.navbar {
    display: flex;
    margin-right: 30px;
    color: #D9D9D9;
    align-items: center;
    
}

.items-nav {
    display:inline-block;
    margin: 10px;
    
}

.links {
    color: #D9D9D9;
    text-decoration: none;
}

.items-nav:hover {
    font-weight: bold;
}

/*
footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color:#183642;
    width: 100%;
    
}
*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #183642;
    
}

.rodape {
    color: #D9D9D9;
    margin: 5px;
    

}

#esquerdo {
    margin-left: 20px;
}

#direito {
    margin-right: 20px;
}

.subtitle {
    margin-top: 5vh;
    color: #D9D9D9;
    text-align: center;
    font-size: 40px;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-flow: wrap;
}

.login-container p {
    color: white;
    margin-left: 120px;
}

.home-produto-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
}

.home-produto-container p {
    color: white;

}

.imagem {
    width: 155px;
    height: auto;    
}

.funcionalidades {
    background-color: #D9D9D9;
    justify-content: center;
    margin-top: 30px;
    
    
}

.subtitle2 {
   margin-top: 50px;
   margin-left: 600px;
   padding-top: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.explicat2 {
    margin-top: 20px;
    margin-left: 675px;
    font-size: 20px;
    font-weight: bold;
}

.container-aba {
    background-color: #D9D9D9;
    padding-top: 10px;   
    
}

.container-imagens {
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    padding-bottom: 30px;   
      
}

.imagem2 {
    width: 350px;
    height: auto;   
}

.imagem-texto {
    display: inline-block;
    justify-content: space-between;
    margin-left: 200px;
}
/*usar 'gap' para separar*/

.texto {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#right {
    margin-right: 200px;
}